---
layout: base.njk
---
<script defer src="./editor-bundle-iife.js"></script>

<h1>Tabs editor</h1>
Here you can make your own flute tabs. Press the notes in the "Add note" section to add to the song. Press a note in the song to remove it. Reordering is not currently possible.
<section id="react-root"></section>