---
layout: base.njk
---
<script defer src="./editor-bundle-iife.js"></script>

<h1>Tabs editor</h1>
Here you can make your own flute tabs. Write notes and separate them with commas. Use a space for some spacing and write "Enter" to get a horizontal line. 
<section id="react-root"></section>
<form>
  <textarea name="Note input" id="note-input" rows="5" columns="20"></textarea>
</form>
<h2>Song output</h2>
<section id="song"></section>
