---
layout: base.njk
---
<script defer src="./editor-bundle-iife.js"></script>

<h1>Tabs editor</h1>
Here you can make your own flute tabs. Press the notes in the "Add note" section to add to the song. Press a note in the song to remove it. Reordering is not currently possible.

If you want to export the song to send to someone, click the copy button and you can paste it anywhere.
<section id="react-root"></section>