<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    {%if title%}{{title}} | {%endif%}Tin Whistle Tabs
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#EEEEEE"/>
    <meta name="description" content="Tin whistle tabs from modern artists such as Two Steps from Hell."/>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <nav class="main-nav">
        <a href="/">Song list</a>
        <a href="/" aria-hidden="true" tabindex="-1"><img alt="" src="/images/ornament.svg"/></a>
        <a href="/editor">Editor</a>
    </nav>
    <main>
    {{ content | safe }}
    </main>

    <footer>{{ helpers.currentYear() }} &copy;  <a href="https://twitter.com/tskarhed">Created by tskarhed</a></footer>
  </body>
</html>
