
.note, .addNote{
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 110px;
    margin: 0 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.note.selected, .addNote.selected{
    box-shadow: 0 0 5px 5px green;
}

.note.empty{
    height: 20px;
    background-color: grey;
}

.covered, .open, .plus{
    display: block;
    width: 10px;
    height: 10px;
    margin: 3px auto;
    border: solid black 1px;
    border-radius: 50%;

}

.plus{
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    text-align: center;
}

.plus span{
    width: 100%;
}

.addNote{
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    color: grey;

    margin-top: 35px; 
    height: 50px;
    width: 50px;
    border: solid 1px grey;
}

.addNote span{
    margin: 0 auto;
    font-size: 15px;
}