@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-image: url("./bg-noise-texture.png");
  color: #333;
  padding-top: 20px;
}

main {
  width: min(800px, 95%);
  margin: 0 auto;
}

textarea {
  width: 100%;
}

h1 {
  font-size: 3rem;
}

.note {
  display: inline-block;
  padding: 0.4rem;
  vertical-align: top;
}

.note.space {
  width: 1.5rem;
}

.covered,
.open,
.plus {
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  margin: 0.2rem auto;
  border: solid black 0.1rem;
  border-radius: 50%;
}

.covered {
  background-color: black !important; /*important for print*/
}

.half.covered {
  background: linear-gradient(black 60%, white 40%);
}

.plus {
  border: none;
  font-weight: bold;
}
