/*FOOTER*/
.footer{
    font-size: 0.8em;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    color: grey;
    vertical-align: baseline;
    opacity: 0.3;
}

.footer > a > span {
    vertical-align: sub;
}

.footer a, .footer i{
    color: #333;
    margin: auto 5px;
}

/*CONTENT*/

.content{
    padding: 0 10%;
}

/*HEADER*/

.header h1 {
    font-size: 2.5em;
    margin: 2% 0;
    margin-top: 4%;
}

.ornament{
    height: auto;
    width: 30%;
    max-width: 300px;
    min-width: 100px;
    margin: 20px auto;
    display: block;
}

/*MENU*/
.menu.menu{
    width: 60px;
    position: fixed;
    height: 100%;
}

.menu.menuItems{
    width: 60px;
}

.menu.menuItem, .menu.menuIcon{
    position: static;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
}

.menu.menuItem{
    color: grey;
    font-size: 12px;
    margin: 2px auto;
}

.menu.menuItem i{
    display: block;
}
