/*FOOTER*/
.footer {
  font-size: 0.8em;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  color: grey;
  vertical-align: baseline;
  opacity: 0.3;
}

.footer > a > span {
  vertical-align: sub;
}

.footer a,
.footer i {
  color: #333;
  margin: auto 5px;
}

/*CONTENT*/

.content {
  padding: 0 10%;
}

/*HEADER*/

.header h1 {
  font-size: 2.5em;
  margin: 2% 0;
  margin-top: 4%;
}

.ornament {
  height: auto;
  width: 200px;
  max-width: 300px;
  min-width: 100px;
  margin: 20px auto;
  margin-top: 0;
  display: block;
}

/*MENU*/
.menu.menu {
  display: flex;
  align-items: center;
}

.menu.menuItems {
  width: 60px;
}

.menu.menuItem,
.menu.menuIcon {
  position: static;
  text-align: center;
  display: block;
  text-decoration: none;
}

.menu.menuItem {
  color: #999;
  font-size: 16px;
  margin: 2px auto;
  text-decoration: underline;
}

.menu.menuItem i {
  display: block;
}

/*SONG LIST*/
.songList.item {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 250px;
  color: grey;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  border: solid 1px #ccc;
  padding: 2px 10px;
  transition: box-shadow 0.2s ease-in-out;
  vertical-align: middle;
}

.songList.item h2 {
  color: black;
}

.songList.item:hover {
  box-shadow: 0 0 5px 0 green;
}
